/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 21px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(37px);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.bar {
    width: 100%;
    height: 20px;
    border: 1px solid #707070;
    border-radius: 3px;
    background-image: repeating-linear-gradient( -45deg, #707070, #707070 11px, #eee 10px, #eee 20px/* determines size */
    );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}

div.timeline-event {}

div.timeline-event-selected {
    border-color: #FF0707;
}

#bodypage {
    -ms-user-select: none;
    font-family: Segoe UI, Segoe, Tahoma, Arial, Verdana, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#titulo {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 54px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#abuelo {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
}

#mytimeline2 {
    overflow-y: scroll;
}

#lista2 {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

#lista2 ol {
    margin: 0 0 0 2em;
}

#lista2 li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

#lista2 li:hover {
    background: #eee;
}

#lista2 li:hover:before {
    transform: rotate(360deg);
}

#lista2 li:before {}


/* Styles for the page */

html,
body {
    font: 10pt arial;
}

header#colophon {
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    height: 3.7%;
    text-align: center;
    background: linear-gradient(#3c3c3c, #111);
    color: white;
    z-index: 4;
    padding-top: 0.3%;
    padding-left: 0.3%;
    font-size: 1.1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#chartdiv {
    height: 32%;
}

#new {
    position: absolute;
    left: 25px;
    top: 8px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

.checkbox label,
.radio label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin-left: -45%;
}

#cargando {
    height: 32px;
    position: relative;
    top: -2px;
}

div.timeline-groups-text {
    color: #4D4D4D;
}

div.timeline-event {
    color: black;
    border-radius: 5px;
    background-color: #5D99C3;
    height: 19px;
    min-width: 3px;
}

div.timeline-event-content {
    padding: 5px;
}

div.unavailable {
    background-color: #F03030;
    /* red */
    border-color: #bd2828;
    /* red */
}

div.available {
    background-color: #1AA11A;
    /* green */
    border-color: #136e13;
    /* green */
}

div.maybe {
    background-color: #FFA500;
    /* orange */
    border-color: #cc8100;
    /* orange */
}

div.timeline-event-content {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

div.timeline-event-content {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 19px;
}

.input-group {
    /*width: 192px;*/
}

div.graph-axis-button-menu {
    visibility: hidden;
}

#lemlogo {
    width: 220px;
    margin-top: 1%;
    left: -36%;
    position: relative;
}

#warning {
    vertical-align: middle;
    width: 20;
    position: absolute;
    top: -2px;
    z-index: 1;
    margin-left: -19%;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

#lista {
    float: right;
    margin-top: 0.5%;
}

.btn-info {
    background-image: -webkit-linear-gradient(top, #2E2E2E 0, #1E1E1E 100%);
    background-image: -o-linear-gradient(top, #5bc0de 0, #2aabd2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D2D), to(#2B2B2B));
    background-image: linear-gradient(to bottom, #303030 0, #2F2F2F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #242424;
}

.btn-info:focus,
.btn-info:hover {
    background-color: #2C2C2C;
    /* background-position: 0 -15px; */
    border-color: #2E2E2E;
}

.btn-info {
    background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
    background-image: -o-linear-gradient(top, #d9534f 0, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image: linear-gradient(to bottom, #222222 0, #1E1E1E 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #323232;
}

div.timeline-axis {
    border-color: #343434;
    background-color: #1AA11A;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#47D26A', endColorstr='#47BD65');
    background: -webkit-gradient(linear, left top, left bottom, from(#272727), to(#292929));
    background: -moz-linear-gradient(top, #47D26A, #47BD65);
}

.navbar-inverse {
    position: relative;
    margin-bottom: -51px;
    background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
    background-image: -o-linear-gradient(top, #3c3c3c 0, #222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
    background-image: linear-gradient(to bottom, #FFFFFF 0, #FFF 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}

.btn-default {
    margin: 3px;
    position: relative;
}

#m {
    left: 332px;
    position: relative;
}

#s {
    position: relative;
    left: 295px;
}

#d {
    left: 257px;
    position: relative;
}

#lupa {
    position: relative;
    top: 5px;
    width: 25px;
    z-index: 5;
    cursor: pointer;
    left: -46px;
}

#cruz {}

#acruz {
    position: relative;
    left: 56px;
    top: -9px;
}

div.timeline-axis {
    background: #707070;
    border-color: #707070;
}

.navbar-inverse {
    background-color: #A7A7A7;
    border-color: #A7A7A7;
}

.fit-content_menu_configuracion ul {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    list-style: none;
    overflow: hidden;
    padding: 0px 0px;
}

.fit-content_menu_configuracion ul li {
    float: left;
    margin: 0 3px;
}

.fit-content ul {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    margin: 0 auto;
    background: rgba(121, 121, 121, 0.69);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    list-style: none;
    overflow: hidden;
    padding: 3px 35px;
    font-size: 0.9rem;
}

.fit-content ul li {
    float: left;
    margin: 0 15px;
}

.classmenu {
    padding-right: 10px;
    padding-left: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background: rgb(25, 25, 25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    -moz-transition: background .7s;
    -webkit-transition: background .7s;
    -ms-transition: background .7s;
    -o-transition: background .7s;
    transition: background .7s;
}

.classmenu:hover {
    background: rgba(151, 151, 151, 0.69);
    outline: 0 none;
    text-shadow: 0 1px #000;
    color: #fff;
}

.classmenucerrar {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    float: right;
    background: rgb(25, 25, 25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    -moz-transition: background .7s;
    -webkit-transition: background .7s;
    -ms-transition: background .7s;
    -o-transition: background .7s;
    transition: background .7s;
}

.classmenucerrar:hover {
    background: rgba(151, 151, 151, 0.69);
    outline: 0 none;
    text-shadow: 0 1px #000;
    color: #fff;
}

.green {
    border-radius: 4px;
    border: solid 1px #484848;
    background-color: #C3C3C3;
    background: -moz-linear-gradient(top, #6F6F6F 0%, #2B2B2B 100%);
    background: -webkit-linear-gradient(#6F6F6F, #2B2B2B);
    background: -o-linear-gradient(top, #6F6F6F 0%, #2B2B2B 100%);
    background: -ms-linear-gradient(top, #6F6F6F 0%, #2B2B2B 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2B2B2B', endColorstr='#2B2B2B', GradientType=0);
    background: linear-gradient(top, #6F6F6F 0%, #2B2B2B 100%);
    -webkit-box-shadow: 0px 0px 1px #303030, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #303030, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #000000, inset 0px 0px 1px #FFFFFF;
}

.green:hover {
    background-color: #808080;
    background: -moz-linear-gradient(top, #808080 0%, #4B4B4B 100%);
    background: -webkit-linear-gradient(top, #808080 0%, #4B4B4B 100%);
    background: -o-linear-gradient(top, #808080 0%, #4B4B4B 100%);
    background: -ms-linear-gradient(top, #808080 0%, #4B4B4B 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4B4B4B', endColorstr='#4B4B4B', GradientType=0);
    background: linear-gradient(top, #808080 0%, #4B4B4B 100%);
}

.green:active {
    background-color: #A1A1A1;
    background: -moz-linear-gradient(top, #A1A1A1 0%, #4B4B4B 100%);
    background: -webkit-linear-gradient(top, #A1A1A1 0%, #4B4B4B 100%);
    background: -o-linear-gradient(top, #A1A1A1 0%, #4B4B4B 100%);
    background: -ms-linear-gradient(top, #A1A1A1 0%, #4B4B4B 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4B4B4B', endColorstr='#4B4B4B', GradientType=0);
    background: linear-gradient(top, #A1A1A1 0%, #4B4B4B 100%);
}

.effect-2 {
    transition: border-radius 1s;
    -webkit-transition: border-radius 1s;
    -moz-transition: border-radius 1s;
    -o-transition: border-radius 1s;
    -ms-transition: border-radius 1s;
}

.effect-2:hover {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.square {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.sa-icon sa-custom {
    display: block;
    background-image: url("imagenes/labelColor.jpg");
    width: 400px;
    height: 80px;
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin-top: 10px;
}

.k-picker-wrap .k-icon {
    margin-top: 10px;
}

.k-picker-wrap {
    height: 31px;
}

.modal-dialog {}

#colores {
    margin-top: 432px;
    position: relative;
    margin-left: 826px;
    width: 542px;
}

#estados {
    position: relative;
    margin-top: 482px;
    left: 9px;
    width: 297px;
    /* margin: auto; */
}

.hiddencon {
    margin: 0;
    padding: 0;
    width: 436px;
    z-index: 99999;
    position: fixed;
    height: 100%;
    right: -433px;
    background-color: white;
    top: -2px;
    border-color: #707070;
    border-style: solid;
    /* opacity: .9; */
}

.hiddencon2 {
    top: auto;
    bottom: 10px;
}


/* Contenido visible al hacer hover */

.hiddencon:hover {
    right: 0;
    overflow: auto;
}


/* Pestaña para desplegar */

.hiddencon-label {
    margin-top: 8px;
    margin-left: -243px;
    padding: 10px;
    position: absolute;
    top: 38%;
    display: inline-block;
    color: white;
    background: #707070;
    font-size: 14px;
    -moz-border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}

.hiddencon,
.hiddencon-label {
    /* Desplegado suave con transiciones */
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/* El contenido incluida variante para listas */

.hiddencon p,
.hiddencon ul {
    margin: 0;
    padding: 0;
    border: 8px solid #707070;
    border-right: 0;
    color: #fff;
    background-color: #000;
    text-align: center;
    vertical-align: center;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}


/* Estilo para listas */

.hiddencon ul {
    margin: 0;
    overflow: auto;
}

.hiddencon li {
    display: block;
}

.hiddencon li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #707070;
    color: #707070;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.hiddencon li:last-child a {
    border-bottom: 0;
}

.hiddencon li a:hover {
    background-color: #707070;
    text-decoration: none;
}

#valvula1 {
    height: 66px;
    position: relative;
    float: left;
    margin-top: -34px;
}

#gotas1 {
    float: left;
    height: 38px;
    margin-top: -15px;
    margin-left: 2px;
}

#tab {
    width: 40px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 25px;
    display: block;
    cursor: pointer;
    background-color: #232526;
    border-radius: 10px 0 0 10px;
    padding: 5px 0 5px 5px;
}

#tab_interna {
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 100%;
    background: #CCC url('images/arrow_posts_left.png') no-repeat center center;
}

#tab_interna:hover {
    background-position: 5px 13px;
}

.expandida {
    background: #CCC url('images/arrow_posts_right.png') no-repeat center center !important;
}

.expandida:hover {
    background-position: 11px 13px !important;
}

#panel {
    position: absolute;
    right: 0;
    top: 25px;
    background-color: #CCC;
    height: 250px;
    width: 0;
    font: 18px Arial;
    color: #707275;
    text-align: center;
    border-radius: 0 0 0 15px;
}

#panel h3 {
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#panel .content {
    width: 320px;
    margin: 5px auto;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #FFF;
}

div.timeline-navigation {
    position: absolute;
    right: 40px;
}

.graph-legend {
    display: block;
}

.graph-frame {
    border: none;
}

div.graph-miguel {
    left: 27px;
    width: inherit;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #dddddd;
}


/* SCROLLBAR CSS3 */

 ::-webkit-scrollbar {
    width: 10px;
    background: #dbe8ec;
}

 ::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

 ::-webkit-scrollbar-track {
    background: #3c454e;
    border: thin solid #1a1f25;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    -webkit-box-shadow: inset 0 1px 0 #FFFFFF, inset 1px 0 0 #FFFFFF, inset 0 1px 2px #FFFFFF;
    border: thin solid #FFFFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
}

 ::-webkit-scrollbar-thumb:window-inactive {
    background: #3C3C3C;
}

.navbar {
    position: relative;
    min-height: 50px;
}

#divContenedor {
    position: relative;
    width: 100%;
    max-height: 65%;
    height: 100%;
    overflow: auto;
}